/* import font */
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --primary-color: #296bac;
    --primary-hover: #25619e;

    --white: #ffffff;
    --black: #252525;

    --text-primary: var(--white);
    --text-secondary: #e7eaed;
    --text-muted: #9ca3af;
    --text-inverse: var(--black);

    --border-color: #dfe1e4;

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: var(--text-primary);
    overflow-x: hidden;
}
input {
    border: none;
}
input:focus {
    outline: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
i {
    display: flex;
}

.button {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 1.9rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: fit-content;
    padding: 16px 21px;
    border-radius: 8px;
}
.button:hover {
    background-color: var(--primary-hover);
}
.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1800px;
    min-width: 375px;
}

/* Tablet */
@media (min-width: 740px) {
    .container {
        padding: 0 24px;
    }
}

/* PC */
@media (min-width: 1024px) {
    .container {
        padding: 0 32px;
    }
}
