header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 57px;
}
.scrolled {
    background: var(--primary-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
